.root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  justify-items: start;
  text-align: start;
}
.p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.h6 {
  color: #001122;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
